Repository masters2023-3rd-project-bugbusters/issue-tracker-max, pull requests merged in 2023-07, with the labels that each got.

#25 [fe] TextInput 컴포넌트 UI 구현
  frontend/src/App.tsx
  frontend/src/components/TextInput.tsx
Labels: feat, front-end

#20 [fe] Dropdown 컴포넌트 UI 구현
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/constants/designSystem.ts
Labels: design, feat, front-end

#28 [fe] TabButton 컴포넌트 구현
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/TabButton.tsx
Labels: design, feat, front-end

#31 [fe] Dropdown 내용이 길어질 때 스타일 깨짐 현상 수정
  frontend/src/App.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
Labels: fix, front-end, bug

#32 [fe] InformationTag 컴포넌트 구현
  frontend/src/App.tsx
  frontend/src/components/InformationTag.tsx
Labels: design, feat, front-end

#52 [fe] 리뷰 피드백 반영
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/TabButton.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownOption.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
Labels: front-end, refactor, bug

#56 [fe] main UI 구현
  frontend/src/App.tsx
  frontend/src/assets/comment.svg
  frontend/src/components/Header.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/components/issue/IssueTableBody.tsx
  frontend/src/components/issue/IssueTableHeader.tsx
  frontend/src/components/main/Main.tsx
  frontend/src/components/main/MainHeader.tsx
  frontend/src/utils/getElapsedSince.ts
Labels: design, feat, front-end

#59 [fe] FilterBar 컴포넌트 구현
  frontend/src/components/FilterBar.tsx
  frontend/src/components/TextInput.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/main/MainHeader.tsx
Labels: design, feat, front-end

#61 [fe] Router 초기 환경 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/components/issue/IssueTableBody.tsx
  frontend/src/page/Error404.tsx
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainHeader.tsx
Labels: feat, front-end, setting
