Repository masters2023-3rd-project-bugbusters/issue-tracker-max, pull requests merged in 2023-08, with the labels that each got.

#57 [be] 댓글 등록 API 구현
  backend/src/main/java/codesquard/app/comment/controller/CommentController.java
  backend/src/main/java/codesquard/app/comment/controller/request/CommentSaveRequest.java
  backend/src/main/java/codesquard/app/comment/entity/Comment.java
  backend/src/main/java/codesquard/app/comment/repository/CommentRepository.java
  backend/src/main/java/codesquard/app/comment/service/CommentService.java
  backend/src/main/java/codesquard/app/comment/service/request/CommentSaveServiceRequest.java
  backend/src/main/java/codesquard/app/comment/service/response/CommentResponse.java
  backend/src/main/java/codesquard/app/errors/exception/CommentMaxLengthExceededException.java
  backend/src/main/java/codesquard/app/errors/handler/CommentExceptionHandler.java
  backend/src/main/java/codesquard/app/issue/comment/controller/CommentController.java
  backend/src/main/java/codesquard/app/issue/comment/entity/Comment.java
  backend/src/main/java/codesquard/app/issue/comment/repository/CommentRepository.java
  backend/src/main/java/codesquard/app/issue/comment/repository/JdbcCommentRepository.java
  backend/src/main/java/codesquard/app/issue/comment/service/CommentService.java
  backend/src/main/java/codesquard/app/issue/entity/Issue.java
  backend/src/main/java/codesquard/app/issue/entity/IssueStatus.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/user/entity/User.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/IntegrationTestSupport.java
  backend/src/test/java/codesquard/app/comment/controller/CommentControllerTest.java
  backend/src/test/java/codesquard/app/comment/repository/CommentRepositoryTest.java
  backend/src/test/java/codesquard/app/comment/service/CommentServiceTest.java
Labels: back-end, feat, review, test

#64 [be] 댓글 등록 API 구현
  backend/src/main/java/codesquard/app/comment/controller/CommentController.java
  backend/src/main/java/codesquard/app/comment/controller/request/CommentSaveRequest.java
  backend/src/main/java/codesquard/app/comment/entity/Comment.java
  backend/src/main/java/codesquard/app/comment/repository/CommentRepository.java
  backend/src/main/java/codesquard/app/comment/service/CommentService.java
  backend/src/main/java/codesquard/app/comment/service/request/CommentSaveServiceRequest.java
  backend/src/main/java/codesquard/app/comment/service/response/CommentSaveResponse.java
  backend/src/main/java/codesquard/app/errors/exception/CommentMaxLengthExceededException.java
  backend/src/main/java/codesquard/app/errors/handler/CommentExceptionHandler.java
  backend/src/main/java/codesquard/app/issue/comment/controller/CommentController.java
  backend/src/main/java/codesquard/app/issue/comment/entity/Comment.java
  backend/src/main/java/codesquard/app/issue/comment/repository/CommentRepository.java
  backend/src/main/java/codesquard/app/issue/comment/repository/JdbcCommentRepository.java
  backend/src/main/java/codesquard/app/issue/comment/service/CommentService.java
  backend/src/main/java/codesquard/app/issue/entity/Issue.java
  backend/src/main/java/codesquard/app/issue/entity/IssueStatus.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/user/entity/User.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/IntegrationTestSupport.java
  backend/src/test/java/codesquard/app/comment/controller/CommentControllerTest.java
  backend/src/test/java/codesquard/app/comment/repository/CommentRepositoryTest.java
  backend/src/test/java/codesquard/app/comment/service/CommentServiceTest.java
Labels: back-end, feat, test

#63 [be] 마일스톤, 라벨 등록 API 구현
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/label/dto/LabelSavedRequest.java
  backend/src/main/java/codesquard/app/label/dto/LabelSavedResponse.java
  backend/src/main/java/codesquard/app/label/entity/Label.java
  backend/src/main/java/codesquard/app/label/entity/LabelColor.java
  backend/src/main/java/codesquard/app/label/repository/JdbcLabelRepository.java
  backend/src/main/java/codesquard/app/label/repository/LabelRepository.java
  backend/src/main/java/codesquard/app/label/service/LabelService.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneRestController.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneSavedRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneSavedResponse.java
  backend/src/main/java/codesquard/app/milestone/entity/Milestone.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/MilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
  backend/src/test/java/codesquard/app/label/controller/LabelControllerTest.java
  backend/src/test/java/codesquard/app/label_milestone/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/milestone/controller/MilestoneControllerTest.java
Labels: back-end, feat, review, test

#66 [fe] textInput 기능, 옵션 추가
  frontend/src/components/TextInput.tsx
Labels: front-end, refactor

#68 [fe] Icon 컴포넌트 구현 및 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/alertCircle.svg
  frontend/src/assets/archive.svg
  frontend/src/assets/calendar.svg
  frontend/src/assets/chevronDown.svg
  frontend/src/assets/edit.svg
  frontend/src/assets/label.svg
  frontend/src/assets/logoDarkLarge.svg
  frontend/src/assets/logoDarkMedium.svg
  frontend/src/assets/logoLightLarge.svg
  frontend/src/assets/logoLightMedium.svg
  frontend/src/assets/milestone.svg
  frontend/src/assets/paperclip.svg
  frontend/src/assets/plus.svg
  frontend/src/assets/refreshCcw.svg
  frontend/src/assets/search.svg
  frontend/src/assets/smile.svg
  frontend/src/assets/trash.svg
  frontend/src/assets/userImageLarge.svg
  frontend/src/assets/userImageSmall.svg
  frontend/src/assets/xSquare.svg
  frontend/src/components/Button.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/InformationTag.tsx
  frontend/src/components/TabButton.tsx
  frontend/src/components/TextInput.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownOption.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/page/main/Main.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Labels: design, feat, front-end

#71 [be] 마일스톤, 라벨 수정 API 구현
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/label/dto/LabelSaveRequest.java
  backend/src/main/java/codesquard/app/label/dto/LabelSaveResponse.java
  backend/src/main/java/codesquard/app/label/dto/LabelUpdateRequest.java
  backend/src/main/java/codesquard/app/label/dto/LabelUpdateResponse.java
  backend/src/main/java/codesquard/app/label/repository/JdbcLabelRepository.java
  backend/src/main/java/codesquard/app/label/repository/LabelRepository.java
  backend/src/main/java/codesquard/app/label/service/LabelService.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneUpdateResponse.java
  backend/src/main/java/codesquard/app/milestone/entity/Milestone.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/MilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
  backend/src/test/java/codesquard/app/label/controller/LabelControllerTest.java
Labels: back-end, feat

#55 [be] CI/CD 파이프라인 구현
  .github/workflows/cicd.yml
  backend/.gitignore
  backend/Dockerfile-dev
  backend/Dockerfile-release
  backend/build.gradle
  backend/src/main/resources/application.properties
  docker-compose-dev.yml
  docker-compose-release.yml
  frontend/Dockerfile-dev
  frontend/Dockerfile-release
  frontend/vite.config.ts
  nginx/nginx-dev.conf
  nginx/nginx-release.conf
Labels: infra

#76 [be] 회원 가입 기능 구현
  backend/src/main/java/codesquard/app/errors/errorcode/UserErrorCode.java
  backend/src/main/java/codesquard/app/errors/exception/RestApiException.java
  backend/src/main/java/codesquard/app/errors/handler/CommentExceptionHandler.java
  backend/src/main/java/codesquard/app/errors/handler/GlobalExceptionHandler.java
  backend/src/main/java/codesquard/app/errors/response/ErrorResponse.java
  backend/src/main/java/codesquard/app/errors/response/ErrorResultResponse.java
  backend/src/main/java/codesquard/app/issue/entity/Issue.java
  backend/src/main/java/codesquard/app/user/controller/UserRestController.java
  backend/src/main/java/codesquard/app/user/controller/request/UserSaveRequest.java
  backend/src/main/java/codesquard/app/user/dto/request/UserSaveRequest.java
  backend/src/main/java/codesquard/app/user/dto/response/UserSaveResponse.java
  backend/src/main/java/codesquard/app/user/entity/User.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/main/java/codesquard/app/user/repository/UserRepository.java
  backend/src/main/java/codesquard/app/user/service/UserService.java
  backend/src/main/java/codesquard/app/user/service/request/UserSaveServiceRequest.java
  backend/src/main/java/codesquard/app/user/service/response/UserSaveResponse.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/comment/repository/CommentRepositoryTest.java
  backend/src/test/java/codesquard/app/comment/service/CommentServiceTest.java
  backend/src/test/java/codesquard/app/issue/fixture/FixtureFactory.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
  backend/src/test/java/codesquard/app/user/controller/UserRestControllerTest.java
  backend/src/test/java/codesquard/app/user/repository/UserRepositoryTest.java
  backend/src/test/java/codesquard/app/user/service/UserServiceTest.java
Labels: back-end, feat, review

#79 [fe] label page 구현 및 리팩토링
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/InformationTag.tsx
  frontend/src/components/TextInput.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownOption.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/constants/designSystem.ts
  frontend/src/page/label/Label.tsx
  frontend/src/page/label/LabelEditor.tsx
  frontend/src/page/label/LabelHeader.tsx
  frontend/src/page/label/LabelTable.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/main/MainHeader.tsx
Labels: design, feat, front-end

#78 [be] 마일스톤 READ API, 상태 수정 구현
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneSaveRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneStatusRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneDeleteResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneReadResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneSaveResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneStatusUpdateResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneUpdateResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestonesResponse.java
  backend/src/main/java/codesquard/app/milestone/entity/Milestone.java
  backend/src/main/java/codesquard/app/milestone/entity/MilestoneStatus.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/MilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
Labels: back-end, feat, review

#82 [be] 라벨 READ API 구현
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/label/dto/LabelDeleteResponse.java
  backend/src/main/java/codesquard/app/label/dto/LabelReadResponse.java
  backend/src/main/java/codesquard/app/label/dto/LabelSaveRequest.java
  backend/src/main/java/codesquard/app/label/dto/LabelSaveResponse.java
  backend/src/main/java/codesquard/app/label/dto/LabelUpdateRequest.java
  backend/src/main/java/codesquard/app/label/dto/LabelUpdateResponse.java
  backend/src/main/java/codesquard/app/label/dto/LabelsResponse.java
  backend/src/main/java/codesquard/app/label/entity/Label.java
  backend/src/main/java/codesquard/app/label/repository/JdbcLabelRepository.java
  backend/src/main/java/codesquard/app/label/repository/LabelRepository.java
  backend/src/main/java/codesquard/app/label/service/LabelService.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
Labels: back-end, feat, review

#85 [be] 마일스톤, 라벨 코드 리팩토링
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelSaveRequest.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelUpdateRequest.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelDeleteResponse.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelReadResponse.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelSaveResponse.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelUpdateResponse.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelsResponse.java
  backend/src/main/java/codesquard/app/label/entity/Label.java
  backend/src/main/java/codesquard/app/label/entity/LabelColor.java
  backend/src/main/java/codesquard/app/label/repository/JdbcLabelRepository.java
  backend/src/main/java/codesquard/app/label/repository/LabelRepository.java
  backend/src/main/java/codesquard/app/label/service/LabelService.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneSaveRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneStatusRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneDeleteResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneReadResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneSaveResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneStatusUpdateResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneUpdateResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestonesResponse.java
  backend/src/main/java/codesquard/app/milestone/entity/Milestone.java
  backend/src/main/java/codesquard/app/milestone/entity/MilestoneStatus.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/MilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
  backend/src/test/java/codesquard/app/label/controller/LabelControllerTest.java
Labels: back-end, refactor

#88 [be] status가 별도로 응답하게끔 구현
  backend/src/main/java/codesquard/app/label/entity/Label.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneReadResponse.java
  backend/src/main/java/codesquard/app/milestone/entity/Milestone.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
Labels: back-end, feat

#91 Dev fe
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/alertCircle.svg
  frontend/src/assets/archive.svg
  frontend/src/assets/calendar.svg
  frontend/src/assets/chevronDown.svg
  frontend/src/assets/comment.svg
  frontend/src/assets/edit.svg
  frontend/src/assets/label.svg
  frontend/src/assets/logoDarkLarge.svg
  frontend/src/assets/logoDarkMedium.svg
  frontend/src/assets/logoLightLarge.svg
  frontend/src/assets/logoLightMedium.svg
  frontend/src/assets/milestone.svg
  frontend/src/assets/paperclip.svg
  frontend/src/assets/plus.svg
  frontend/src/assets/refreshCcw.svg
  frontend/src/assets/search.svg
  frontend/src/assets/smile.svg
  frontend/src/assets/trash.svg
  frontend/src/assets/userImageLarge.svg
  frontend/src/assets/userImageSmall.svg
  frontend/src/assets/xSquare.svg
  frontend/src/components/Button.tsx
  frontend/src/components/FilterBar.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/InformationTag.tsx
  frontend/src/components/TabButton.tsx
  frontend/src/components/TextInput.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownOption.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/components/issue/IssueTableBody.tsx
  frontend/src/components/issue/IssueTableHeader.tsx
  frontend/src/constants/designSystem.ts
  frontend/src/page/Error404.tsx
  frontend/src/page/label/Label.tsx
  frontend/src/page/label/LabelEditor.tsx
  frontend/src/page/label/LabelHeader.tsx
  frontend/src/page/label/LabelTable.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainHeader.tsx
  frontend/src/utils/getElapsedSince.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Labels: front-end

#96 [fe] 이슈 등록 페이지 구현
  frontend/src/App.tsx
  frontend/src/assets/Grip.svg
  frontend/src/assets/comment.svg
  frontend/src/components/Button.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/InformationTag.tsx
  frontend/src/components/TextArea.tsx
  frontend/src/components/TextInput.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/components/issue/IssueTableHeader.tsx
  frontend/src/components/sidebar/AssigneeElement.tsx
  frontend/src/components/sidebar/ElementContainer.tsx
  frontend/src/components/sidebar/MilestoneElement.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/constants/designSystem.ts
  frontend/src/page/main/MainHeader.tsx
  frontend/src/page/newIssue/NewIssue.tsx
  frontend/src/page/newIssue/NewIssueBody.tsx
  frontend/src/page/newIssue/NewIssueFooter.tsx
  frontend/src/utils/getProgress.ts
Labels: design, feat, front-end

#97 [be] 이슈 상세 조회 API 구현
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueCommentsResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueLabelResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueMilestoneCountResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueMilestoneResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueReadResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueUserResponse.java
  backend/src/main/java/codesquard/app/issue/repository/IssueRepository.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueService.java
  backend/src/main/java/codesquard/app/user/entity/User.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/fixture/FixtureFactory.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
Labels: back-end, feat, review, test

#109 🔧chore : msw 설치 및 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/page/label/Label.tsx
Labels: front-end

#102 [be] README 수정
  README.md
Labels: docs

#114 [fe] 전체적인 리팩토링
  frontend/src/App.tsx
  frontend/src/assets/logoDarkMedium.svg
  frontend/src/assets/logoLarge.svg
  frontend/src/assets/logoLightLarge.svg
  frontend/src/assets/logoMedium.svg
  frontend/src/components/Header.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/components/issue/IssueTableHeader.tsx
  frontend/src/page/label/Label.tsx
  frontend/src/page/label/LabelTable.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/main/Main.tsx
  frontend/src/page/milestone/Milestone.tsx
  frontend/src/page/milestone/MilestoneEditor.tsx
  frontend/src/page/milestone/MilestoneTable.tsx
Labels: front-end, refactor

#115 [fe] NewIssue 페이지 버그 수정
  frontend/src/components/TextArea.tsx
  frontend/src/components/TextInput.tsx
Labels: fix, front-end, bug

#122 [fe] 로그인/회원가입 페이지 UI 구현
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/TextInput.tsx
  frontend/src/page/Auth.tsx
Labels: feat, front-end

#117 [be] API Response 통일
  backend/src/main/java/codesquard/app/api/errors/errorcode/CommonErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/ErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/IssueErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/LoginErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/UserErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/exception/CommentMaxLengthExceededException.java
  backend/src/main/java/codesquard/app/api/errors/exception/EmptyFileException.java
  backend/src/main/java/codesquard/app/api/errors/exception/IllegalIssueStatusException.java
  backend/src/main/java/codesquard/app/api/errors/exception/NoSuchIssueException.java
  backend/src/main/java/codesquard/app/api/errors/exception/RestApiException.java
  backend/src/main/java/codesquard/app/api/errors/handler/CommentExceptionHandler.java
  backend/src/main/java/codesquard/app/api/errors/handler/GlobalExceptionHandler.java
  backend/src/main/java/codesquard/app/api/errors/handler/ImageExceptionHandler.java
  backend/src/main/java/codesquard/app/api/errors/handler/IssueExceptionHandler.java
  backend/src/main/java/codesquard/app/api/response/ApiResponse.java
  backend/src/main/java/codesquard/app/api/response/ResponseMessage.java
  backend/src/main/java/codesquard/app/comment/controller/CommentController.java
  backend/src/main/java/codesquard/app/comment/service/CommentService.java
  backend/src/main/java/codesquard/app/comment/service/request/CommentModifyServiceRequest.java
  backend/src/main/java/codesquard/app/comment/service/request/CommentSaveServiceRequest.java
  backend/src/main/java/codesquard/app/comment/service/response/CommentDeleteResponse.java
  backend/src/main/java/codesquard/app/comment/service/response/CommentModifyResponse.java
  backend/src/main/java/codesquard/app/comment/service/response/CommentSaveResponse.java
  backend/src/main/java/codesquard/app/errors/errorcode/CommentErrorCode.java
  backend/src/main/java/codesquard/app/errors/errorcode/ImageErrorCode.java
  backend/src/main/java/codesquard/app/errors/exception/CommentMaxLengthExceededException.java
  backend/src/main/java/codesquard/app/errors/exception/EmptyFileException.java
  backend/src/main/java/codesquard/app/errors/handler/CommentExceptionHandler.java
  backend/src/main/java/codesquard/app/errors/handler/GlobalExceptionHandler.java
  backend/src/main/java/codesquard/app/errors/handler/ImageExceptionHandler.java
  backend/src/main/java/codesquard/app/errors/response/ErrorResponse.java
  backend/src/main/java/codesquard/app/errors/response/ErrorResultResponse.java
  backend/src/main/java/codesquard/app/image/S3Uploader.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueService.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/main/java/codesquard/app/user/service/UserService.java
  backend/src/test/java/codesquard/app/comment/controller/CommentControllerTest.java
  backend/src/test/java/codesquard/app/comment/service/CommentServiceTest.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
  backend/src/test/java/codesquard/app/user/controller/UserRestControllerTest.java
  backend/src/test/java/codesquard/app/user/service/UserServiceTest.java
Labels: back-end, refactor, review

#124 [fe] 리뷰 반영 리팩토링
  frontend/src/components/Button.tsx
  frontend/src/components/FilterBar.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Icon.tsx
  frontend/src/components/InformationTag.tsx
  frontend/src/components/TabButton.tsx
  frontend/src/components/TextArea.tsx
  frontend/src/components/TextInput.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownIndicator.tsx
  frontend/src/components/dropdown/DropdownOption.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/icon/Icon.tsx
  frontend/src/components/icon/SvgIcons.tsx
  frontend/src/components/issue/Issue.tsx
  frontend/src/components/issue/IssueTableHeader.tsx
  frontend/src/components/sidebar/AssigneeElement.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/page/Auth.tsx
  frontend/src/page/label/LabelEditor.tsx
  frontend/src/page/label/LabelHeader.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/main/MainHeader.tsx
  frontend/src/page/milestone/MilestoneEditor.tsx
  frontend/src/page/milestone/MilestoneHeader.tsx
  frontend/src/page/milestone/MilestoneTable.tsx
  frontend/src/page/milestone/MilestoneTableElement.tsx
  frontend/src/page/newIssue/NewIssueBody.tsx
  frontend/src/page/newIssue/NewIssueFooter.tsx
Labels: front-end, refactor

#90 [be] 로그인 기능 API 구현
  .github/workflows/cicd.yml
  backend/build.gradle
  backend/src/main/java/codesquard/app/api/errors/errorcode/JwtTokenErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/LoginErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/exception/jwt/JwtRestApiException.java
  backend/src/main/java/codesquard/app/api/errors/exception/user/LoginRestApiException.java
  backend/src/main/java/codesquard/app/api/errors/exception/user/UserRestApiException.java
  backend/src/main/java/codesquard/app/api/errors/handler/GlobalExceptionHandler.java
  backend/src/main/java/codesquard/app/api/response/ResponseMessage.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestController.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/request/RefreshTokenRequest.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/response/RefreshTokenResponse.java
  backend/src/main/java/codesquard/app/authenticate_user/entity/AuthenticateUser.java
  backend/src/main/java/codesquard/app/authenticate_user/repository/AuthenticateUserRepository.java
  backend/src/main/java/codesquard/app/authenticate_user/repository/JdbcAuthenticateUserRepository.java
  backend/src/main/java/codesquard/app/authenticate_user/service/RefreshTokenServiceRequest.java
  backend/src/main/java/codesquard/app/config/WebConfig.java
  backend/src/main/java/codesquard/app/jwt/Jwt.java
  backend/src/main/java/codesquard/app/jwt/JwtProvider.java
  backend/src/main/java/codesquard/app/jwt/config/JwtConfig.java
  backend/src/main/java/codesquard/app/jwt/filter/JwtAuthorizationFilter.java
  backend/src/main/java/codesquard/app/jwt/filter/VerifyUserFilter.java
  backend/src/main/java/codesquard/app/user/annotation/Login.java
  backend/src/main/java/codesquard/app/user/controller/UserLoginRestController.java
  backend/src/main/java/codesquard/app/user/controller/UserRestController.java
  backend/src/main/java/codesquard/app/user/controller/request/UserLoginRequest.java
  backend/src/main/java/codesquard/app/user/controller/response/UserLoginResponse.java
  backend/src/main/java/codesquard/app/user/entity/User.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/main/java/codesquard/app/user/repository/UserRepository.java
  backend/src/main/java/codesquard/app/user/resolver/LoginUserArgumentResolver.java
  backend/src/main/java/codesquard/app/user/service/AuthenticateUserService.java
  backend/src/main/java/codesquard/app/user/service/UserQueryService.java
  backend/src/main/java/codesquard/app/user/service/UserService.java
  backend/src/main/java/codesquard/app/user/service/request/UserLoginServiceRequest.java
  backend/src/main/java/codesquard/app/user/service/response/UserSaveResponse.java
  backend/src/main/java/codesquard/app/user/service/response/UserSaveServiceResponse.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestControllerTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
  backend/src/test/java/codesquard/app/jwt/JwtProviderTest.java
  backend/src/test/java/codesquard/app/user/controller/UserLoginRestControllerTest.java
  backend/src/test/java/codesquard/app/user/controller/UserRestControllerTest.java
  backend/src/test/java/codesquard/app/user/service/AuthenticateUserServiceTest.java
  backend/src/test/java/codesquard/app/user/service/UserServiceTest.java
  frontend/Dockerfile-release
Labels: back-end, feat, review

#134 dev hotfix
  .github/workflows/cicd.yml
Labels: bug

#135 [be] 라벨, 마일스톤 예외 처리 및 리팩토링
  backend/src/main/java/codesquard/app/api/errors/exception/DuplicateLabelException.java
  backend/src/main/java/codesquard/app/api/errors/exception/DuplicateMilestoneException.java
  backend/src/main/java/codesquard/app/api/errors/exception/FontColorLabelException.java
  backend/src/main/java/codesquard/app/api/errors/exception/NoSuchLabelException.java
  backend/src/main/java/codesquard/app/api/errors/exception/NoSuchMilestoneException.java
  backend/src/main/java/codesquard/app/api/errors/handler/LabelExceptionHandler.java
  backend/src/main/java/codesquard/app/api/errors/handler/MilestoneExceptionHandler.java
  backend/src/main/java/codesquard/app/api/response/LabelResponseMessage.java
  backend/src/main/java/codesquard/app/api/response/MilestoneResponseMessage.java
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelSaveRequest.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelUpdateRequest.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelReadResponse.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelSaveResponse.java
  backend/src/main/java/codesquard/app/label/dto/response/LabelsResponse.java
  backend/src/main/java/codesquard/app/label/entity/LabelColor.java
  backend/src/main/java/codesquard/app/label/repository/JdbcLabelRepository.java
  backend/src/main/java/codesquard/app/label/service/LabelService.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestoneSaveResponse.java
  backend/src/main/java/codesquard/app/milestone/dto/response/MilestonesResponse.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
  backend/src/test/java/codesquard/app/label/controller/LabelControllerTest.java
Labels: back-end, feat, refactor, review

#139 [fe] TextInput이 관련 공용 컴포넌트 리팩토링
  frontend/src/components/FilterBar.tsx
  frontend/src/components/TextInput.tsx
Labels: front-end, refactor

#140 [fe] Sidebar 리팩토링 및 버그 수정
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/page/newIssue/NewIssue.tsx
  frontend/src/page/newIssue/NewIssueBody.tsx
Labels: fix, front-end, refactor

#142 [fe] Dropdown 추가 기능
  frontend/src/components/FilterBar.tsx
  frontend/src/components/TextArea.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/sidebar/Sidebar.tsx
  frontend/src/page/label/LabelEditor.tsx
Labels: feat, front-end

#125 [be] Issue CRUD 리팩토링
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/entity/IssueStatus.java
  backend/src/main/java/codesquard/app/issue/repository/IssueRepository.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
  backend/src/main/java/codesquard/app/issue/service/IssueService.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
Labels: back-end, refactor, review

#138 [be] 이슈 API Response 통합에 따른 변경
  backend/src/main/java/codesquard/app/api/errors/exception/IllegalIssueStatusException.java
  backend/src/main/java/codesquard/app/api/errors/exception/NoSuchIssueException.java
  backend/src/main/java/codesquard/app/api/errors/handler/IssueExceptionHandler.java
  backend/src/main/java/codesquard/app/api/response/ResponseMessage.java
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueDeleteResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueModifyResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueReadResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueSaveResponse.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
Labels: back-end, refactor, review

#145 [be] 이슈 상세 조회 Response data 형식 변경에 따른 리팩토링
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueReadResponse.java
  backend/src/main/java/codesquard/app/issue/entity/IssueStatus.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelSaveRequest.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
Labels: back-end, fix, refactor, review

#150 [fe] label, milestone msw 적용 및 리팩토링
  frontend/src/components/TextInput.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/page/label/Label.tsx
  frontend/src/page/label/LabelEditor.tsx
  frontend/src/page/label/LabelTable.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/milestone/Milestone.tsx
  frontend/src/page/milestone/MilestoneEditor.tsx
  frontend/src/page/milestone/MilestoneTable.tsx
  frontend/src/page/milestone/MilestoneTableElement.tsx
Labels: feat, front-end, refactor

#159 [fe] 로그인/회원가입 구현
  frontend/src/App.tsx
  frontend/src/assets/success.svg
  frontend/src/components/Header.tsx
  frontend/src/components/icon/SvgIcons.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/page/auth/Auth.tsx
  frontend/src/page/auth/SignUpSuccessModal.tsx
  frontend/src/utils/localStorage.tsx
Labels: feat, front-end

#152 [be] 이슈 수정시간 추가 로직 구현
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueReadResponse.java
  backend/src/main/java/codesquard/app/issue/repository/IssueRepository.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueService.java
  backend/src/main/java/codesquard/app/user_reaction/controller/UserReactionController.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/user_reaction/repository/JdbcUserReactionRepositoryTest.java
  backend/src/test/java/codesquard/app/user_reaction/service/UserReactionServiceTest.java
Labels: back-end, refactor, review

#160 [be] 사용자 반응 삭제 API 구현
  backend/src/main/java/codesquard/app/api/errors/exception/NoSuchUserReactionException.java
  backend/src/main/java/codesquard/app/api/errors/handler/UserReactionExceptionHandler.java
  backend/src/main/java/codesquard/app/user_reaction/controller/UserReactionController.java
  backend/src/main/java/codesquard/app/user_reaction/dto/response/UserReactionDeleteResponse.java
  backend/src/main/java/codesquard/app/user_reaction/repository/JdbcUserReactionRepository.java
  backend/src/main/java/codesquard/app/user_reaction/repository/UserReactionRepository.java
  backend/src/main/java/codesquard/app/user_reaction/service/UserReactionQueryService.java
  backend/src/main/java/codesquard/app/user_reaction/service/UserReactionService.java
  backend/src/test/java/codesquard/app/user_reaction/controller/UserReactionControllerTest.java
  backend/src/test/java/codesquard/app/user_reaction/repository/JdbcUserReactionRepositoryTest.java
  backend/src/test/java/codesquard/app/user_reaction/service/UserReactionServiceTest.java
Labels: back-end, feat, review, test

#165 [be] 이슈 상세 조회 응답 데이터에 사용자 반응 추가
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueCommentsResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueReadResponse.java
  backend/src/main/java/codesquard/app/issue/dto/response/userReactionResponse.java
  backend/src/main/java/codesquard/app/issue/repository/IssueRepository.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
  backend/src/main/java/codesquard/app/user_reaction/controller/UserReactionController.java
  backend/src/main/java/codesquard/app/user_reaction/repository/JdbcUserReactionRepository.java
  backend/src/main/java/codesquard/app/user_reaction/repository/UserReactionRepository.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
  backend/src/test/java/codesquard/app/user_reaction/controller/UserReactionControllerTest.java
Labels: back-end, refactor, review

#167 [be] 이슈 필터링 기능 구현
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/mapper/IssueMapper.java
  backend/src/main/java/codesquard/app/issue/mapper/request/IssueFilterRequest.java
  backend/src/main/java/codesquard/app/issue/mapper/response/IssueAssigneeResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/response/IssueAuthorResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/response/IssueFilterResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/response/IssueLabelResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/response/IssueMilestoneResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/response/IssuesResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/MultiFilters.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/SingleFilters.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/response/MultiFiltersAssignees.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/response/MultiFiltersAuthors.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/response/MultiFiltersLabels.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/response/MultiFiltersMilestones.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/response/SingleFilter.java
  backend/src/main/java/codesquard/app/issue/repository/IssueRepository.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
  backend/src/main/java/codesquard/app/label/repository/JdbcLabelRepository.java
  backend/src/main/java/codesquard/app/label/repository/LabelRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/MilestoneRepository.java
  backend/src/main/resources/codesquard/app/issue/mapper/IssueMapper.xml
Labels: back-end, feat, refactor, review

#162 [be] Oauth Github 소셜 로그인 기능 구현
  backend/build.gradle
  backend/src/main/java/codesquard/app/api/errors/errorcode/OauthErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/exception/jwt/JwtRestApiException.java
  backend/src/main/java/codesquard/app/api/errors/exception/user/LoginRestApiException.java
  backend/src/main/java/codesquard/app/api/errors/exception/user/UserRestApiException.java
  backend/src/main/java/codesquard/app/api/errors/handler/GlobalExceptionHandler.java
  backend/src/main/java/codesquard/app/api/response/ApiResponse.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestController.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/request/RefreshTokenRequest.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/response/AuthenticateUserLoginResponse.java
  backend/src/main/java/codesquard/app/authenticate_user/resolver/LoginUserArgumentResolver.java
  backend/src/main/java/codesquard/app/authenticate_user/service/AuthenticateUserService.java
  backend/src/main/java/codesquard/app/authenticate_user/service/request/RefreshTokenServiceRequest.java
  backend/src/main/java/codesquard/app/authenticate_user/service/response/AuthenticateUserLoginServiceResponse.java
  backend/src/main/java/codesquard/app/config/WebConfig.java
  backend/src/main/java/codesquard/app/jwt/JwtProvider.java
  backend/src/main/java/codesquard/app/jwt/config/JwtConfig.java
  backend/src/main/java/codesquard/app/jwt/filter/JwtAuthorizationFilter.java
  backend/src/main/java/codesquard/app/jwt/filter/JwtBasicUserFilter.java
  backend/src/main/java/codesquard/app/jwt/filter/VerifyUserFilter.java
  backend/src/main/java/codesquard/app/oauth/InMemoryProviderRepository.java
  backend/src/main/java/codesquard/app/oauth/OauthAdapter.java
  backend/src/main/java/codesquard/app/oauth/OauthAttributes.java
  backend/src/main/java/codesquard/app/oauth/OauthProvider.java
  backend/src/main/java/codesquard/app/oauth/OauthUser.java
  backend/src/main/java/codesquard/app/oauth/config/OauthConfig.java
  backend/src/main/java/codesquard/app/oauth/controller/OauthRestController.java
  backend/src/main/java/codesquard/app/oauth/controller/response/OauthLoginResponse.java
  backend/src/main/java/codesquard/app/oauth/profile/UserProfile.java
  backend/src/main/java/codesquard/app/oauth/properties/OauthProperties.java
  backend/src/main/java/codesquard/app/oauth/provider/OauthClientRegistration.java
  backend/src/main/java/codesquard/app/oauth/service/OauthService.java
  backend/src/main/java/codesquard/app/oauth/service/response/OauthAccessTokenResponse.java
  backend/src/main/java/codesquard/app/oauth/service/response/OauthLoginServiceResponse.java
  backend/src/main/java/codesquard/app/user/controller/UserLoginRestController.java
  backend/src/main/java/codesquard/app/user/entity/User.java
  backend/src/main/java/codesquard/app/user/interceptor/UserLoginInterceptor.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/main/java/codesquard/app/user/repository/UserRepository.java
  backend/src/main/java/codesquard/app/user/service/UserService.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestControllerTest.java
  backend/src/test/java/codesquard/app/authenticate_user/service/AuthenticateUserServiceTest.java
  backend/src/test/java/codesquard/app/oauth/InMemoryProviderRepositoryTest.java
  backend/src/test/java/codesquard/app/oauth/controller/OauthRestControllerTest.java
  backend/src/test/java/codesquard/app/oauth/properties/OauthPropertiesTest.java
  backend/src/test/java/codesquard/app/user/controller/UserLoginRestControllerTest.java
  backend/src/test/java/codesquard/app/user/controller/UserRestControllerTest.java
Labels: back-end, feat, review

#174 [fe] issue main
  frontend/src/components/issue/Issue.tsx
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainHeader.tsx
Labels: fix, front-end

#177 [fe] 다크모드 전환 스위치 구현
  frontend/src/App.tsx
  frontend/src/assets/moon.svg
  frontend/src/assets/sun.svg
  frontend/src/components/Header.tsx
  frontend/src/components/ToggleButton.tsx
  frontend/src/components/icon/SvgIcons.tsx
Labels: feat, front-end

#180 [fe] 요청이 5173포트로 보내지는 문제
  frontend/vite.config.ts
Labels: fix, bug

#181 [fe] vite proxy 설정 후 배포
  frontend/vite.config.ts
Labels: bug

#175 [be] 이슈 필터링 기능 구현 완료
  backend/src/main/java/codesquard/app/api/errors/handler/MilestoneExceptionHandler.java
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/mapper/IssueMapper.java
  backend/src/main/java/codesquard/app/issue/mapper/response/IssueFilterResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/MultiFilters.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/SingleFilters.java
  backend/src/main/java/codesquard/app/issue/mapper/response/filters/response/SingleFilter.java
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
  backend/src/main/resources/codesquard/app/issue/mapper/IssueMapper.xml
Labels: back-end, feat, fix, refactor, review

#191 [be] vite 설정 오타 수정 및 배포환경에서 EC2MetadataUtils 문제 해결
  backend/src/main/java/codesquard/BackendApplication.java
  frontend/vite.config.ts
Labels: bug

#211 [fe] main page 기능 구현 및 리팩토링
  frontend/src/components/Avatar.tsx
  frontend/src/components/issue/IssueTableBody.tsx
  frontend/src/components/issue/IssueTableHeader.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainHeader.tsx
  frontend/src/page/main/MainTable.tsx
  frontend/src/page/main/MainTableElement.tsx
  frontend/src/page/main/MainTableHeader.tsx
Labels: feat, front-end, refactor

#208 [be] 라벨, 마일스톤 사용자 검증 + 테스트 코드 작성
  backend/src/main/java/codesquard/app/label/controller/LabelController.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelSaveRequest.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelUpdateRequest.java
  backend/src/main/java/codesquard/app/label/entity/Label.java
  backend/src/main/java/codesquard/app/label/repository/JdbcLabelRepository.java
  backend/src/main/java/codesquard/app/label/repository/LabelRepository.java
  backend/src/main/java/codesquard/app/label/service/LabelService.java
  backend/src/main/java/codesquard/app/milestone/controller/MilestoneController.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneSaveRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneStatusRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneStatusUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/entity/Milestone.java
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/MilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
  backend/src/test/java/codesquard/app/label/controller/LabelControllerTest.java
  backend/src/test/java/codesquard/app/label/repository/LabelRepositoryTest.java
  backend/src/test/java/codesquard/app/label/service/LabelServiceTest.java
  backend/src/test/java/codesquard/app/label_milestone/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/milestone/controller/MilestoneControllerTest.java
  backend/src/test/java/codesquard/app/milestone/repository/MilestoneRepositoryTest.java
  backend/src/test/java/codesquard/app/milestone/service/MilestoneServiceTest.java
Labels: back-end, feat, review, test

#204 [be] 로그아웃 기능 및 비밀번호 암호화 기능 구현
  backend/build.gradle
  backend/src/main/java/codesquard/app/api/errors/errorcode/PasswordErrorCode.java
  backend/src/main/java/codesquard/app/api/response/ResponseMessage.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestController.java
  backend/src/main/java/codesquard/app/authenticate_user/entity/AuthenticateUser.java
  backend/src/main/java/codesquard/app/authenticate_user/resolver/LoginUserArgumentResolver.java
  backend/src/main/java/codesquard/app/authenticate_user/service/AuthenticateUserService.java
  backend/src/main/java/codesquard/app/authenticate_user/service/response/AuthenticateUserLoginServiceResponse.java
  backend/src/main/java/codesquard/app/jwt/Jwt.java
  backend/src/main/java/codesquard/app/jwt/JwtProvider.java
  backend/src/main/java/codesquard/app/jwt/config/JwtConfig.java
  backend/src/main/java/codesquard/app/jwt/filter/JwtAuthorizationFilter.java
  backend/src/main/java/codesquard/app/jwt/filter/JwtBasicUserFilter.java
  backend/src/main/java/codesquard/app/jwt/filter/VerifyUserFilter.java
  backend/src/main/java/codesquard/app/oauth/client/GithubOauthClient.java
  backend/src/main/java/codesquard/app/oauth/service/OauthService.java
  backend/src/main/java/codesquard/app/oauth/service/response/OauthAccessTokenResponse.java
  backend/src/main/java/codesquard/app/redis/RedisRepositoryConfig.java
  backend/src/main/java/codesquard/app/user/controller/request/UserLoginRequest.java
  backend/src/main/java/codesquard/app/user/controller/request/UserSaveRequest.java
  backend/src/main/java/codesquard/app/user/entity/User.java
  backend/src/main/java/codesquard/app/user/password/PasswordEncoder.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/main/java/codesquard/app/user/repository/UserRepository.java
  backend/src/main/java/codesquard/app/user/service/UserQueryService.java
  backend/src/main/java/codesquard/app/user/service/UserService.java
  backend/src/main/java/codesquard/app/user/service/request/UserLoginServiceRequest.java
  backend/src/main/java/codesquard/app/user/service/request/UserSaveServiceRequest.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestControllerTest.java
  backend/src/test/java/codesquard/app/authenticate_user/service/AuthenticateUserServiceTest.java
  backend/src/test/java/codesquard/app/milestone/controller/MilestoneControllerTest.java
  backend/src/test/java/codesquard/app/oauth/controller/OauthRestControllerTest.java
  backend/src/test/java/codesquard/app/oauth/service/OauthServiceTest.java
  backend/src/test/java/codesquard/app/user/controller/UserLoginRestControllerTest.java
  backend/src/test/java/codesquard/app/user/password/PasswordEncoderTest.java
  backend/src/test/java/codesquard/app/user/service/UserServiceTest.java
  docker-compose-dev.yml
  docker-compose-release.yml
Labels: back-end, feat, review

#229 [fe] 이슈, 댓글 CRUD 요청에 인증 토큰 추가
  frontend/src/components/Header.tsx
  frontend/src/components/comment/CommentEditor.tsx
  frontend/src/components/comment/CommentItem.tsx
  frontend/src/mocks/commentHandlers.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/issueHandlers.ts
  frontend/src/page/issueDetail/IssueContent.tsx
  frontend/src/page/issueDetail/IssueDetail.tsx
  frontend/src/page/issueDetail/IssueDetailSidePanel.tsx
  frontend/src/page/issueDetail/IssueDetailTitleInfo.tsx
  frontend/src/page/newIssue/NewIssue.tsx
  frontend/src/page/newIssue/NewIssueBody.tsx
Labels: feat, front-end

#231 [fe] main Page 리팩토링
  frontend/src/mocks/handlers.ts
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainTable.tsx
  frontend/src/page/main/MainTableHeader.tsx
Labels: front-end, refactor

#213 [be] 이슈 및 사용자 반응 사용자 검증 처리
  backend/src/main/java/codesquard/app/api/errors/errorcode/IssueErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/handler/IssueExceptionHandler.java
  backend/src/main/java/codesquard/app/api/errors/handler/UserReactionExceptionHandler.java
  backend/src/main/java/codesquard/app/issue/controller/IssueController.java
  backend/src/main/java/codesquard/app/issue/dto/request/IssueModifyStatusesRequest.java
  backend/src/main/java/codesquard/app/issue/dto/response/IssueModifyStatusesResponse.java
  backend/src/main/java/codesquard/app/issue/mapper/IssueMapper.java
  backend/src/main/java/codesquard/app/issue/repository/IssueRepository.java
  backend/src/main/java/codesquard/app/issue/repository/JdbcIssueRepository.java
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
  backend/src/main/java/codesquard/app/issue/service/IssueService.java
  backend/src/main/java/codesquard/app/label/entity/Label.java
  backend/src/main/java/codesquard/app/user_reaction/controller/UserReactionController.java
  backend/src/main/java/codesquard/app/user_reaction/repository/JdbcUserReactionRepository.java
  backend/src/main/java/codesquard/app/user_reaction/repository/UserReactionRepository.java
  backend/src/main/java/codesquard/app/user_reaction/service/UserReactionQueryService.java
  backend/src/main/java/codesquard/app/user_reaction/service/UserReactionService.java
  backend/src/main/resources/codesquard/app/issue/mapper/IssueMapper.xml
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
  backend/src/test/java/codesquard/app/user_reaction/controller/UserReactionControllerTest.java
  backend/src/test/java/codesquard/app/user_reaction/service/UserReactionServiceTest.java
Labels: back-end, refactor, review

#236 [fe] 전체적인 리팩토링 및 버그 수정
  frontend/src/components/Header.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/page/auth/Auth.tsx
  frontend/src/page/auth/OauthLoading.tsx
  frontend/src/page/label/Label.tsx
  frontend/src/page/label/LabelEditor.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/milestone/Milestone.tsx
  frontend/src/page/milestone/MilestoneEditor.tsx
  frontend/src/page/milestone/MilestoneTableElement.tsx
Labels: fix, front-end, refactor

#216 [be] 인증 관련 테스트 리팩토링 및 로그 추가
  README.md
  backend/src/main/java/codesquard/app/api/errors/errorcode/CommonErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/IssueErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/JwtTokenErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/LoginErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/OauthErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/PasswordErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/errorcode/UserErrorCode.java
  backend/src/main/java/codesquard/app/api/errors/handler/GlobalExceptionHandler.java
  backend/src/main/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestController.java
  backend/src/main/java/codesquard/app/authenticate_user/repository/AuthenticateUserRepository.java
  backend/src/main/java/codesquard/app/authenticate_user/repository/JdbcAuthenticateUserRepository.java
  backend/src/main/java/codesquard/app/authenticate_user/service/AuthenticateUserService.java
  backend/src/main/java/codesquard/app/authenticate_user/service/request/RefreshTokenServiceRequest.java
  backend/src/main/java/codesquard/app/config/WebConfig.java
  backend/src/main/java/codesquard/app/jwt/Jwt.java
  backend/src/main/java/codesquard/app/oauth/client/GithubOauthClient.java
  backend/src/main/java/codesquard/app/oauth/client/OauthClient.java
  backend/src/main/java/codesquard/app/oauth/provider/OauthClientRegistration.java
  backend/src/main/java/codesquard/app/oauth/service/OauthService.java
  backend/src/main/java/codesquard/app/user/controller/UserRestController.java
  backend/src/main/java/codesquard/app/user/controller/request/UserSaveRequest.java
  backend/src/main/java/codesquard/app/user/interceptor/UserLoginInterceptor.java
  backend/src/main/java/codesquard/app/user/repository/JdbcUserRepository.java
  backend/src/main/java/codesquard/app/user/service/UserQueryService.java
  backend/src/main/java/codesquard/app/user/service/UserService.java
  backend/src/test/java/codesquard/app/ControllerTestSupport.java
  backend/src/test/java/codesquard/app/authenticate_user/controller/AuthenticateUserRestControllerTest.java
  backend/src/test/java/codesquard/app/authenticate_user/service/AuthenticateUserServiceTest.java
  backend/src/test/java/codesquard/app/oauth/controller/OauthRestControllerTest.java
  backend/src/test/java/codesquard/app/oauth/fixture/FixedAuthenticateUserFactory.java
  backend/src/test/java/codesquard/app/oauth/properties/OauthPropertiesTest.java
  backend/src/test/java/codesquard/app/oauth/service/OauthServiceTest.java
  backend/src/test/java/codesquard/app/user/controller/UserRestControllerTest.java
  backend/src/test/java/codesquard/app/user/fixture/FixedUserFactory.java
  backend/src/test/java/codesquard/app/user/repository/UserRepositoryTest.java
  backend/src/test/java/codesquard/app/user/service/UserServiceTest.java
Labels: back-end, refactor, review

#246 [fe] 마크다운 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MarkdownViewer.tsx
  frontend/src/components/TextArea.tsx
  frontend/src/components/comment/CommentEditor.tsx
  frontend/src/components/comment/CommentItem.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownOption.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/sidebar/AddAssignee.tsx
  frontend/src/components/sidebar/AddLabel.tsx
  frontend/src/components/sidebar/AddMilestone.tsx
  frontend/src/components/sidebar/AssigneeElement.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/imageHandlers.ts
  frontend/src/page/issueDetail/IssueContent.tsx
  frontend/src/page/issueDetail/IssueDetail.tsx
  frontend/src/page/issueDetail/IssueDetailHeader.tsx
  frontend/src/page/issueDetail/IssueDetailMainContent.tsx
  frontend/src/page/issueDetail/IssueDetailSidePanel.tsx
  frontend/src/page/issueDetail/IssueDetailTitleInfo.tsx
  frontend/src/page/label/Label.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainTable.tsx
  frontend/src/page/main/MainTableHeader.tsx
  frontend/src/page/milestone/Milestone.tsx
  frontend/src/page/milestone/MilestoneTableElement.tsx
  frontend/src/page/newIssue/NewIssue.tsx
  frontend/src/page/newIssue/NewIssueBody.tsx
Labels: feat, front-end

#248 be] 입력, 필터링 오류 해결 후 테스트 코드 추가 작성
  backend/src/main/java/codesquard/app/api/errors/handler/CommentExceptionHandler.java
  backend/src/main/java/codesquard/app/config/WebConfig.java
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelSaveRequest.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneSaveRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
  backend/src/main/resources/codesquard/app/issue/mapper/IssueMapper.xml
  backend/src/test/java/codesquard/app/issue/controller/IssueControllerTest.java
  backend/src/test/java/codesquard/app/issue/repository/JdbcIssueRepositoryTest.java
  backend/src/test/java/codesquard/app/issue/service/IssueServiceTest.java
  backend/src/test/java/codesquard/app/label/controller/LabelControllerTest.java
  backend/src/test/java/codesquard/app/milestone/controller/MilestoneControllerTest.java
  backend/src/test/java/codesquard/app/milestone/repository/MilestoneRepositoryTest.java
  backend/src/test/java/codesquard/app/oauth/fixture/FixedAuthenticateUserFactory.java
  backend/src/test/java/codesquard/app/user/fixture/FixedUserFactory.java
Labels: back-end, fix

#249 [be] [fix] commit merge 오류 수정
  backend/src/main/java/codesquard/app/issue/service/IssueQueryService.java
Labels: back-end, fix

#252 dev-fe to dev
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MarkdownViewer.tsx
  frontend/src/components/TextArea.tsx
  frontend/src/components/comment/CommentEditor.tsx
  frontend/src/components/comment/CommentItem.tsx
  frontend/src/components/dropdown/DropdownContainer.tsx
  frontend/src/components/dropdown/DropdownOption.tsx
  frontend/src/components/dropdown/DropdownPanel.tsx
  frontend/src/components/sidebar/AddAssignee.tsx
  frontend/src/components/sidebar/AddLabel.tsx
  frontend/src/components/sidebar/AddMilestone.tsx
  frontend/src/components/sidebar/AssigneeElement.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/imageHandlers.ts
  frontend/src/page/issueDetail/IssueContent.tsx
  frontend/src/page/issueDetail/IssueDetail.tsx
  frontend/src/page/issueDetail/IssueDetailHeader.tsx
  frontend/src/page/issueDetail/IssueDetailMainContent.tsx
  frontend/src/page/issueDetail/IssueDetailSidePanel.tsx
  frontend/src/page/issueDetail/IssueDetailTitleInfo.tsx
  frontend/src/page/label/Label.tsx
  frontend/src/page/label/LabelTableElement.tsx
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainTable.tsx
  frontend/src/page/main/MainTableHeader.tsx
  frontend/src/page/milestone/Milestone.tsx
  frontend/src/page/milestone/MilestoneTableElement.tsx
  frontend/src/page/newIssue/NewIssue.tsx
  frontend/src/page/newIssue/NewIssueBody.tsx
Labels: front-end

#259 [fe] 배포 서버에서 테스트 후 피드백 반영
  frontend/src/components/MarkdownViewer.tsx
  frontend/src/components/TextArea.tsx
  frontend/src/components/comment/CommentEditor.tsx
  frontend/src/components/comment/CommentItem.tsx
  frontend/src/components/comment/CommentList.tsx
  frontend/src/page/issueDetail/IssueContent.tsx
  frontend/src/page/issueDetail/IssueDetail.tsx
  frontend/src/page/issueDetail/IssueDetailMainContent.tsx
  frontend/src/page/issueDetail/IssueDetailSidePanel.tsx
  frontend/src/page/issueDetail/IssueDetailTitleInfo.tsx
  frontend/src/page/newIssue/NewIssue.tsx
Labels: fix, front-end, refactor

#263 [fe] 이슈 상세 페이지 오류 수정
  frontend/src/components/comment/CommentEditor.tsx
  frontend/src/mocks/issueHandlers.ts
  frontend/src/page/issueDetail/IssueDetailTitleInfo.tsx
Labels: fix, front-end

#266 [fe] 배포 서버 테스트 후 찾은 버그 수정
  frontend/src/components/FilterBar.tsx
  frontend/src/page/issueDetail/IssueContent.tsx
  frontend/src/page/main/MainHeader.tsx
  frontend/src/page/main/MainTable.tsx
  frontend/src/page/main/MainTableHeader.tsx
  frontend/src/page/milestone/MilestoneTableElement.tsx
Labels: fix, front-end, bug

#268 [fe] api 통신 후 재랜더링 되도록 수정
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainTable.tsx
  frontend/src/page/milestone/MilestoneTableElement.tsx
Labels: fix, front-end, bug

#270 [fe] main table 관련 랜더링 문제 수정
  frontend/src/page/main/Main.tsx
  frontend/src/page/main/MainTable.tsx
  frontend/src/page/main/MainTableElement.tsx
Labels: fix, front-end, bug

#272 [be] [fix] 마일스톤 이슈 조회 오류 수정
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/repository/MilestoneRepository.java
  backend/src/main/java/codesquard/app/milestone/service/MilestoneService.java
Labels: back-end, fix, bug

#273 [be] [fix] 마일스톤의 이슈 카운트 로직 수정
  backend/src/main/java/codesquard/app/milestone/repository/JdbcMilestoneRepository.java
Labels: back-end, fix, bug

#275 🐛fix #247: 라벨 @Size min 제거
  backend/src/main/java/codesquard/app/label/dto/request/LabelSaveRequest.java
  backend/src/main/java/codesquard/app/label/dto/request/LabelUpdateRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneSaveRequest.java
  backend/src/main/java/codesquard/app/milestone/dto/request/MilestoneUpdateRequest.java
Labels: back-end, fix
